{% if checkout == 'yes' %}
    <div class="text-gray-500 bg-gray-100 border border-green-400 rounded p-4 my-4">
            <h2 class="text-xl font-bold mb-4">Checkout for {{ store_name }}</h2>
            <table>
                <tbody>
                    <tr>
                        <td class="p-2 text-sm">Cart total</td>
                        <td class="p-2 text-sm text-right">{{ total }}</td>
                    </tr>
                    <tr>
                        <td class="p-2 text-sm">Delivery Charge</td>
                        <td class="p-2 text-sm text-right">{{ delivery }}</td>
                    </tr>
                    <tr>
                        <td class="p-2 text-sm">Total</td>
                        <td class="p-2 text-sm text-right">{{ checkout_total }}</td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-sm bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    hx-post="{% url 'checkout-pay' %}"
                    hx-target="#cart-items"
                    hx-swap="innerHTML"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            >Confirm and Pay</button>
            <button class="btn btn-sm bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    hx-post="{% url 'checkout-cancel' %}"
                    hx-target="#cart-items"
                    hx-swap="innerHTML"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            >Cancel</button>
    </div>
{% endif %}
